<h2>Feeds</h2>

<table>
<% @feeds.each do |feed| %>
  <tr>
    <td><%=h feed.domain %></td>    
    <td><%= link_to feed.url, feed.url %></td> <!-- how to escape? -->
    <td><%= link_to 'Delete', feed, {:class => 'delete'} %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New Feed &raquo;', new_feed_path %></p>