<h2>Listing Alerts</h2>

<table>
<% @alerts.each do |alert| %>
  <tr>
    <td><%= alert.feed.domain %></td>
    <td><%= link_to alert.title, alert.url %></td>
    <td><%= link_to 'Delete', alert, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>